{% include "partials/head.html" %}

<body>
    {% include "partials/header.html" %}
    {% include "partials/searche.html" %}
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include "partials/games_list.html" %}
            <div class="games-cover">
                <img src="https://i.ibb.co/B28mGY5P/darkest-dungeon-capa.jpg" alt="darkest-dungeon-capa" border="0">
            </div>

            <div class="games-title-container">
                <h2 class="games-title">Darkest Dungeon</h2>
            </div>
            <div class="games-author">
                <span>
                    <i class="fa-solid fa-circle-user"></i>
                    Ramon Gall
                </span>
                <span>
                    <i class="fa-solid fa-calendar-days"></i>
                    10/06/2025 às 15:35
                </span>
                <a href="">
                    <span>

                        <i class="fa-solid fa-ghost"></i>
                        RPG
                    </span>
                </a>
            </div>
            <div class="games-content">
                <p>Darkest Dungeon é um jogo gótico desafiante em turnos de RPG sobre os estresses psicológicos
                    vivenciados em
                    aventuras. Recrute, treine e lidere uma equipe de heróis imperfeitos através de florestas
                    corrompidas, labirintos
                    esquecidos, criptas arruinadas e além.</p>
            </div>
            <div class="games-meta-container">
                <div class="games-meta games-zerar">
                    <h3 class="games-meta-title"><i class="fas fa-stopwatch"></i> Zerar</h3>
                    <div class="games-meta-text">
                        147 horas
                    </div>
                </div>
                <div class="games-meta games-nota">
                    <h3 class="games-meta-title"><i class="fa-solid fa-circle-check"></i></i> Nota</h3>
                    <div class="games-meta-text">
                        8/10
                    </div>
                </div>
            </div>
            <footer class="recipe-footer">
                <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
                    <i class="fas fa-eye"></i>
                    <span>ver mais...</span>
                </a>
            </footer>
        </div>
        </div>
    </main>

</body>

</html>