{% include "partials/head.html" %}

<body>
    {% include "partials/header.html" %}
    {% include "partials/searche.html" %}
     <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="game games-list-item">
                <div class="games-cover">
                    <img src="https://placehold.co/1280x720/2086c2/png" alt="temporario">
                </div>
                <h2>Olá</h2>
            </div>
        </div>
     </main>
</body>

</html>